.current-price {
  background-image:
    linear-gradient(
    #A59C7D, #8C8467
    );
  padding: 15px;
  margin: 40px 10px 10px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  position: relative;
  border: 2px solid #52574B;
  filter: drop-shadow(3px 3px 0px #52574B);
  &:before {
    display: block;
    position: absolute;
    top: -28px;
    content: " ";
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 30px solid #A59C7D;
    margin-left: -40px;
    left: 50%;
    filter: drop-shadow(0px -2px 0px #52574B);

  }
  .price {
    font-weight: bold;
    font-size: 3em;
    position: relative;
    padding: 0;
    margin: 0;

    &:before {
      content: "$";
      font-size: 0.6em;
//      vertical-align: top;
      top: 10px;
      margin-left: -20px;
      position: absolute;
      display: inline-block;
      font-weight: normal;
    }
  }
  .desc {
    padding: 0;
    margin: 0;
    
  }
}